@import url(bootstrap-theme.min.css);
@import url(bootstrap.min.css);
.no-margin {
    margin: 0px !important
}

.no-padding {
    padding: 0px
}

.smaller-margin {
    margin: 5px !important
}

.smaller-margin-bottom {
    margin-bottom: 5px !important
}

.smaller-margin-top {
    margin-top: 5px !important
}

.smaller-margin-left {
    margin-left: 5px !important
}

.smaller-margin-right {
    margin-right: 5px !important
}

.small-margin {
    margin: 8px !important
}

.small-margin-bottom {
    margin-bottom: 8px !important
}

.small-margin-top {
    margin-top: 8px !important
}

.small-margin-left {
    margin-left: 8px !important
}

.small-margin-right {
    margin-right: 8px !important
}

.margin {
    margin: 15px !important
}

.margin-bottom {
    margin-bottom: 15px !important
}

.margin-top {
    margin-top: 15px !important
}

.margin-left {
    margin-left: 15px !important
}

.margin-right {
    margin-right: 15px !important
}

.large-margin {
    margin: 30px !important
}

.large-margin-bottom {
    margin-bottom: 30px !important
}

.large-margin-top {
    margin-top: 30px !important
}

.large-margin-left {
    margin-left: 30px !important
}

.large-margin-right {
    margin-right: 30px !important
}

.larger-margin {
    margin: 45px !important
}

.larger-margin-bottom {
    margin-bottom: 45px !important
}

.larger-margin-top {
    margin-top: 45px !important
}

.larger-margin-left {
    margin-left: 45px !important
}

.larger-margin-right {
    margin-right: 45px !important
}

@media (min-width: 768px) {
    .smaller-margin-sm {
        margin: 5px !important
    }
    .smaller-margin-bottom-sm {
        margin-bottom: 5px !important
    }
    .smaller-margin-top-sm {
        margin-top: 5px !important
    }
    .smaller-margin-left-sm {
        margin-left: 5px !important
    }
    .smaller-margin-right-sm {
        margin-right: 5px !important
    }
    .small-margin-sm {
        margin: 8px !important
    }
    .small-margin-bottom-sm {
        margin-bottom: 8px !important
    }
    .small-margin-top-sm {
        margin-top: 8px !important
    }
    .small-margin-left-sm {
        margin-left: 8px !important
    }
    .small-margin-right-sm {
        margin-right: 8px !important
    }
    .margin-sm {
        margin: 15px !important
    }
    .margin-bottom-sm {
        margin-bottom: 15px !important
    }
    .margin-top-sm {
        margin-top: 15px !important
    }
    .margin-left-sm {
        margin-left: 15px !important
    }
    .margin-right-sm {
        margin-right: 15px !important
    }
    .large-margin-sm {
        margin: 30px !important
    }
    .large-margin-bottom-sm {
        margin-bottom: 30px !important
    }
    .large-margin-top-sm {
        margin-top: 30px !important
    }
    .large-margin-left-sm {
        margin-left: 30px !important
    }
    .large-margin-right-sm {
        margin-right: 30px !important
    }
    .larger-margin-sm {
        margin: 45px !important
    }
    .larger-margin-bottom-sm {
        margin-bottom: 45px !important
    }
    .larger-margin-top-sm {
        margin-top: 45px !important
    }
    .larger-margin-left-sm {
        margin-left: 45px !important
    }
    .larger-margin-right-sm {
        margin-right: 45px !important
    }
}

@media (min-width: 992px) {
    .smaller-margin-md {
        margin: 5px !important
    }
    .smaller-margin-bottom-md {
        margin-bottom: 5px !important
    }
    .smaller-margin-top-md {
        margin-top: 5px !important
    }
    .smaller-margin-left-md {
        margin-left: 5px !important
    }
    .smaller-margin-right-md {
        margin-right: 5px !important
    }
    .small-margin-md {
        margin: 8px !important
    }
    .small-margin-bottom-md {
        margin-bottom: 8px !important
    }
    .small-margin-top-md {
        margin-top: 8px !important
    }
    .small-margin-left-md {
        margin-left: 8px !important
    }
    .small-margin-right-md {
        margin-right: 8px !important
    }
    .margin-md {
        margin: 15px !important
    }
    .margin-bottom-md {
        margin-bottom: 15px !important
    }
    .margin-top-md {
        margin-top: 15px !important
    }
    .margin-left-md {
        margin-left: 15px !important
    }
    .margin-right-md {
        margin-right: 15px !important
    }
    .large-margin-md {
        margin: 30px !important
    }
    .large-margin-bottom-md {
        margin-bottom: 30px !important
    }
    .large-margin-top-md {
        margin-top: 30px !important
    }
    .large-margin-left-md {
        margin-left: 30px !important
    }
    .large-margin-right-md {
        margin-right: 30px !important
    }
    .larger-margin-md {
        margin: 45px !important
    }
    .larger-margin-bottom-md {
        margin-bottom: 45px !important
    }
    .larger-margin-top-md {
        margin-top: 45px !important
    }
    .larger-margin-left-md {
        margin-left: 45px !important
    }
    .larger-margin-right-md {
        margin-right: 45px !important
    }
}

@media (min-width: 1200px) {
    .smaller-margin-lg {
        margin: 5px !important
    }
    .smaller-margin-bottom-lg {
        margin-bottom: 5px !important
    }
    .smaller-margin-top-lg {
        margin-top: 5px !important
    }
    .smaller-margin-left-lg {
        margin-left: 5px !important
    }
    .smaller-margin-right-lg {
        margin-right: 5px !important
    }
    .small-margin-lg {
        margin: 8px !important
    }
    .small-margin-bottom-lg {
        margin-bottom: 8px !important
    }
    .small-margin-top-lg {
        margin-top: 8px !important
    }
    .small-margin-left-lg {
        margin-left: 8px !important
    }
    .small-margin-right-lg {
        margin-right: 8px !important
    }
    .margin-lg {
        margin: 15px !important
    }
    .margin-bottom-lg {
        margin-bottom: 15px !important
    }
    .margin-top-lg {
        margin-top: 15px !important
    }
    .margin-left-lg {
        margin-left: 15px !important
    }
    .margin-right-lg {
        margin-right: 15px !important
    }
    .large-margin-lg {
        margin: 30px !important
    }
    .large-margin-bottom-lg {
        margin-bottom: 30px !important
    }
    .large-margin-top-lg {
        margin-top: 30px !important
    }
    .large-margin-left-lg {
        margin-left: 30px !important
    }
    .large-margin-right-lg {
        margin-right: 30px !important
    }
    .larger-margin-lg {
        margin: 45px !important
    }
    .larger-margin-bottom-lg {
        margin-bottom: 45px !important
    }
    .larger-margin-top-lg {
        margin-top: 45px !important
    }
    .larger-margin-left-lg {
        margin-left: 45px !important
    }
    .larger-margin-right-lg {
        margin-right: 45px !important
    }
}

.smaller-padding {
    padding: 5px !important
}

.smaller-padding-bottom {
    padding-bottom: 5px !important
}

.smaller-padding-top {
    padding-top: 5px !important
}

.smaller-padding-left {
    padding-left: 5px !important
}

.smaller-padding-right {
    padding-right: 5px !important
}

.small-padding {
    padding: 8px !important
}

.small-padding-bottom {
    padding-bottom: 8px !important
}

.small-padding-top {
    padding-top: 8px !important
}

.small-padding-left {
    padding-left: 8px !important
}

.small-padding-right {
    padding-right: 8px !important
}

.padding {
    padding: 15px !important
}

.padding-bottom {
    padding-bottom: 15px !important
}

.padding-top {
    padding-top: 15px !important
}

.padding-left {
    padding-left: 15px !important
}

.padding-right {
    padding-right: 15px !important
}

.large-padding {
    padding: 30px !important
}

.large-padding-bottom {
    padding-bottom: 30px !important
}

.large-padding-top {
    padding-top: 30px !important
}

.large-padding-left {
    padding-left: 30px !important
}

.large-padding-right {
    padding-right: 30px !important
}

.larger-padding {
    padding: 45px !important
}

.larger-padding-bottom {
    padding-bottom: 45px !important
}

.larger-padding-top {
    padding-top: 45px !important
}

.larger-padding-left {
    padding-left: 45px !important
}

.larger-padding-right {
    padding-right: 45px !important
}

@media (min-width: 768px) {
    .smaller-padding-sm {
        padding: 5px !important
    }
    .smaller-padding-bottom-sm {
        padding-bottom: 5px !important
    }
    .smaller-padding-top-sm {
        padding-top: 5px !important
    }
    .smaller-padding-left-sm {
        padding-left: 5px !important
    }
    .smaller-padding-right-sm {
        padding-right: 5px !important
    }
    .small-padding-sm {
        padding: 8px !important
    }
    .small-padding-bottom-sm {
        padding-bottom: 8px !important
    }
    .small-padding-top-sm {
        padding-top: 8px !important
    }
    .small-padding-left-sm {
        padding-left: 8px !important
    }
    .small-padding-right-sm {
        padding-right: 8px !important
    }
    .padding-sm {
        padding: 15px !important
    }
    .padding-bottom-sm {
        padding-bottom: 15px !important
    }
    .padding-top-sm {
        padding-top: 15px !important
    }
    .padding-left-sm {
        padding-left: 15px !important
    }
    .padding-right-sm {
        padding-right: 15px !important
    }
    .large-padding-sm {
        padding: 30px !important
    }
    .large-padding-bottom-sm {
        padding-bottom: 30px !important
    }
    .large-padding-top-sm {
        padding-top: 30px !important
    }
    .large-padding-left-sm {
        padding-left: 30px !important
    }
    .large-padding-right-sm {
        padding-right: 30px !important
    }
    .larger-padding-sm {
        padding: 45px !important
    }
    .larger-padding-bottom-sm {
        padding-bottom: 45px !important
    }
    .larger-padding-top-sm {
        padding-top: 45px !important
    }
    .larger-padding-left-sm {
        padding-left: 45px !important
    }
    .larger-padding-right-sm {
        padding-right: 45px !important
    }
}

@media (min-width: 992px) {
    .smaller-padding-md {
        padding: 5px !important
    }
    .smaller-padding-bottom-md {
        padding-bottom: 5px !important
    }
    .smaller-padding-top-md {
        padding-top: 5px !important
    }
    .smaller-padding-left-md {
        padding-left: 5px !important
    }
    .smaller-padding-right-md {
        padding-right: 5px !important
    }
    .small-padding-md {
        padding: 8px !important
    }
    .small-padding-bottom-md {
        padding-bottom: 8px !important
    }
    .small-padding-top-md {
        padding-top: 8px !important
    }
    .small-padding-left-md {
        padding-left: 8px !important
    }
    .small-padding-right-md {
        padding-right: 8px !important
    }
    .padding-md {
        padding: 15px !important
    }
    .padding-bottom-md {
        padding-bottom: 15px !important
    }
    .padding-top-md {
        padding-top: 15px !important
    }
    .padding-left-md {
        padding-left: 15px !important
    }
    .padding-right-md {
        padding-right: 15px !important
    }
    .large-padding-md {
        padding: 30px !important
    }
    .large-padding-bottom-md {
        padding-bottom: 30px !important
    }
    .large-padding-top-md {
        padding-top: 30px !important
    }
    .large-padding-left-md {
        padding-left: 30px !important
    }
    .large-padding-right-md {
        padding-right: 30px !important
    }
    .larger-padding-md {
        padding: 45px !important
    }
    .larger-padding-bottom-md {
        padding-bottom: 45px !important
    }
    .larger-padding-top-md {
        padding-top: 45px !important
    }
    .larger-padding-left-md {
        padding-left: 45px !important
    }
    .larger-padding-right-md {
        padding-right: 45px !important
    }
}

@media (min-width: 1200px) {
    .smaller-padding-lg {
        padding: 5px !important
    }
    .smaller-padding-bottom-lg {
        padding-bottom: 5px !important
    }
    .smaller-padding-top-lg {
        padding-top: 5px !important
    }
    .smaller-padding-left-lg {
        padding-left: 5px !important
    }
    .smaller-padding-right-lg {
        padding-right: 5px !important
    }
    .small-padding-lg {
        padding: 8px !important
    }
    .small-padding-bottom-lg {
        padding-bottom: 8px !important
    }
    .small-padding-top-lg {
        padding-top: 8px !important
    }
    .small-padding-left-lg {
        padding-left: 8px !important
    }
    .small-padding-right-lg {
        padding-right: 8px !important
    }
    .padding-lg {
        padding: 15px !important
    }
    .padding-bottom-lg {
        padding-bottom: 15px !important
    }
    .padding-top-lg {
        padding-top: 15px !important
    }
    .padding-left-lg {
        padding-left: 15px !important
    }
    .padding-right-lg {
        padding-right: 15px !important
    }
    .large-padding-lg {
        padding: 30px !important
    }
    .large-padding-bottom-lg {
        padding-bottom: 30px !important
    }
    .large-padding-top-lg {
        padding-top: 30px !important
    }
    .large-padding-left-lg {
        padding-left: 30px !important
    }
    .large-padding-right-lg {
        padding-right: 30px !important
    }
    .larger-padding-lg {
        padding: 45px !important
    }
    .larger-padding-bottom-lg {
        padding-bottom: 45px !important
    }
    .larger-padding-top-lg {
        padding-top: 45px !important
    }
    .larger-padding-left-lg {
        padding-left: 45px !important
    }
    .larger-padding-right-lg {
        padding-right: 45px !important
    }
}

.md-no-margin {
    margin: 0
}

.margin-top {
    margin-top: 15px
}

.margin-right {
    margin-right: 15px
}

.m-t-b-15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.m-t-30 {
    margin-top: 30px
}

.p-l-0 {
    padding-left: 0
}

table tr:last-of-type {
    border-bottom: 1px solid #ddd
}

.glyphicon {
    font-size: smaller
}

.bg-grey-lighter {
    background-color: #f9f9f9
}

.bg-grey-light {
    background-color: #ececed
}

.gray-footer-bg {
    background-color: #3b3b3b
}

@media (min-width: 320px) and (max-width: 991px) {
    .col-xs-12 {
        padding-bottom: 20px
    }
    .col-sm-4 {
        padding-bottom: 20px
    }
    .col-sm-6 {
        padding-bottom: 20px
    }
    .col-md-4 {
        padding-bottom: 20px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-4 {
        padding-bottom: 20px
    }
}

.media {
    margin: 0 !important;
    padding: 0;
    list-style: none
}

.media .item {
    border-top: 1px dotted #007fac;
    padding-top: 10px;
    padding-bottom: 10px
}

.media .item:hover {
    background-color: #f6f6f6
}

.media .item:last-of-type {
    border-bottom: 1px dotted #007fac
}

.media .head {
    margin: 0;
    padding: 0;
    color: #333
}

.media p {
    margin: 0
}

.media img {
    float: left;
    margin-right: 20px
}

.media a {
    text-decoration: none;
    color: #007fac
}

.md-jumboSimple {
    background-image: url("http://mkt-element-14.com/files/pardot-img/robotic-arm.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px
}

.md-jumboSimple .jumbotron {
    margin: 20px 10px 20px 20px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 0px !important
}

.md-jumboSimple .jumbotron h2 {
    font-size: 2.5rem
}

.md-jumboSimple .jumbotron p {
    font-size: 1.5rem
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .md-jumboSimple {
        background-image: url("http://mkt-element-14.com/files/pardot-img/robotic-arm.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px
    }
    .md-jumboSimple .jumbotron {
        padding: 25px;
        margin: 20px 10px 20px 20px
    }
}

@media screen and (max-width: 767px) {
    .md-jumboSimple {
        background-image: url("http://mkt-element-14.com/files/pardot-img/robotic-arm.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px
    }
    .md-jumboSimple .jumbotron {
        padding: 20px;
        margin: 20px 10px 20px 20px
    }
}

.md-bgJumbo-box {
    background-image: url("http://mkt-element-14.com/files/pardot-img/robotic-arm.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: auto;
    margin-bottom: 30px
}

.md-bgJumbo-box .container {
    padding: 20px 20px 20px 40%
}

.md-bgJumbo-box .jumbotron {
    margin: 0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 0px !important
}

.md-bgJumbo-box h1 {
    margin-top: 0;
    font-size: 3.7rem
}

@media screen and (max-width: 767px) {
    .md-bgJumbo-box .container {
        padding: 50% 20px 20px 20px
    }
    .md-bgJumbo-box .jumbotron {
        padding: 20px
    }
}

.md-bgJumbo-full {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url("http://mkt-element-14.com/files/pardot-img/guy-sodering_69176879.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: auto;
    margin-bottom: 30px
}

.md-bgJumbo-full .container {
    padding: 20px 20px 20px 40%
}

.md-bgJumbo-full .jumbotron {
    margin: 0;
    padding: 50px 0 0 60px;
    background-color: transparent;
    border-radius: 0px !important
}

.md-bgJumbo-full h1 {
    margin-top: 0;
    font-size: 3.7rem;
    color: #fff
}

.md-bgJumbo-full p {
    color: white;
    font-size: 2rem
}

@media screen and (max-width: 767px) {
    .md-bgJumbo-full .container {
        padding: 50% 20px 20px 20px
    }
    .md-bgJumbo-full .jumbotron {
        padding: 20px
    }
}

.md-twocol-background {
    background-image: url(http://storage.pardot.com/80762/85100/header_bg01.jpg);
    background-position: top center;
    background-repeat: no-repeat
}

.md-twocol-background .jumbotron {
    padding: 45px;
    margin: 15px 0 15px 0 !important;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 0px !important
}

@media (min-width: 768px) and (max-width: 992px) {
    .md-twocol-background .jumbotron {
        padding: 100px 20px 20px 20px !important;
        margin-top: 40% !important;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 767px) {
    .md-twocol-background .jumbotron {
        padding: 20px;
        margin-top: 40% !important;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 480px) {
    .md-twocol-background .jumbotron {
        padding: 20px;
        margin-top: 60% !important;
        margin-bottom: 20px
    }
}

.md-simple-header {
    background-image: url("http://storage.pardot.com/80762/84800/header_caret.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    padding-bottom: 30px;
    min-height: 80px
}

.md-simple-header h1 {
    font-size: 3.6rem;
    margin-bottom: 0;
    padding-top: 5px
}

@media screen and (min-width: 992px) {
    .md-simple-header-logo img {
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 50px
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .md-simple-header-logo img {
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 20px;
        height: 50px
    }
}

.mk-header-caret {
    background-image: url(http://mkt-element-14.com/files/pardot-img/header-caret.png);
    background-position: bottom left;
    background-repeat: no-repeat
}

.mk-header-caret h1 {
    margin-bottom: 8px
}

ul {
    margin-left: 15px;
    padding-left: 0;
    list-style-type: square
}

.md-iot-bgJumbo-full {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url("http://mkt-element-14.com/files/pardot-img/guy-sodering_69176879.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    margin-bottom: 30px
}

.md-iot-bgJumbo-full .jumbotron {
    margin: 0px !important;
    background-color: transparent !important;
    border-radius: 0px !important
}

.md-iot-bgJumbo-full a {
    color: #fff
}

.md-iot-bgJumbo-full a:hover {
    color: #fff
}

.md-iot-bgJumbo-full a:visited {
    color: #fff
}

.md-iot-bgJumbo-full h1 {
    margin-top: 0;
    font-size: 2.1rem !important;
    color: #fff !important
}

.md-iot-bgJumbo-full h2 {
    color: #fff !important;
    margin-top: 50px !important
}

.md-iot-bgJumbo-full p {
    color: white;
    font-size: 2rem
}

@media (min-width: 768px) and (max-width: 991px) {
    .md-iot-bgJumbo-full .jumbotron {
        padding: 100px 20px 20px 20px !important
    }
    .md-iot-bgJumbo-full h2 {
        color: #fff;
        margin-top: 20px;
        margin-left: 20px
    }
}

@media screen and (max-width: 767px) {
    .md-iot-bgJumbo-full .jumbotron {
        padding: 100px 20px 20px 20px !important
    }
    .md-iot-bgJumbo-full h2 {
        color: #fff;
        margin-top: 20px;
        margin-left: 20px
    }
}

.md-day-names {
	background-color: #333;
	color: white;
}
.md-day01 {
    background: linear-gradient(to top, rgba(206, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day01 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day01:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://placehold.it/300x388");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day01 {
        height: 300px !important
    }
}

.md-day02 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89652/dec02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day02 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day02:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89652/dec02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day02 {
        height: 300px !important
    }
}

.md-day03 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89654/dec03.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day03 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day03:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89654/dec03.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day03 {
        height: 300px !important
    }
}

.md-day04 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89656/dec04.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day04 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day04:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89656/dec04.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day04 {
        height: 300px !important
    }
}

.md-day05 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89658/dec05.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day05 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day05:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89658/dec05.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day05 {
        height: 300px !important
    }
}

.md-day06 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://placehold.it/300x388");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day06 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day06:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://placehold.it/300x388");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day06 {
        height: 300px !important
    }
}

.md-day07 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89668/dec07.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day07 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day07:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89668/dec07.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day07 {
        height: 300px !important
    }
}

.md-day08 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89672/dec08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day08 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day08:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89672/dec08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day08 {
        height: 300px !important
    }
}

.md-day09 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89674/dec09.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day09 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day09:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89674/dec09.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day09 {
        height: 300px !important
    }
}

.md-day10 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89676/dec10.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day10 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day10:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89676/dec10.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day10 {
        height: 300px !important
    }
}

.md-day11 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89684/dec11.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day11 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day11:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89684/dec11.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day11 {
        height: 300px !important
    }
}

.md-day12 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89682/dec12.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day12 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day12:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89682/dec12.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day12 {
        height: 300px !important
    }
}

.md-day13 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89686/dec13.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day13 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day13:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89686/dec13.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day13 {
        height: 300px !important
    }
}

.md-day14 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89688/dec14.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day14 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day14:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89688/dec14.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day14 {
        height: 300px !important
    }
}

.md-day15 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89690/dec15.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day15 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day15:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89690/dec15.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day15 {
        height: 300px !important
    }
}

.md-day16 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89692/dec16.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day16 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day16:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89692/dec16.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day16 {
        height: 300px !important
    }
}

.md-day17 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89694/dec17.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day17 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day17:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89694/dec17.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day17 {
        height: 300px !important
    }
}

.md-day18 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89696/dec18.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day18 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day18:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89696/dec18.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day18 {
        height: 300px !important
    }
}

.md-day19 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89698/dec19.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day19 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day19:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89698/dec19.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day19 {
        height: 300px !important
    }
}

.md-day20 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89700/dec20.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day20 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day20:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89700/dec20.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day20 {
        height: 300px !important
    }
}

.md-day21 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89704/dec21.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day21 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day21:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89704/dec21.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day21 {
        height: 300px !important
    }
}

.md-day22 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89706/dec22.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day22 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day22:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89706/dec22.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day22 {
        height: 300px !important
    }
}

.md-day23 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89708/dec23.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day23 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day23:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89708/dec23.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day23 {
        height: 300px !important
    }
}

.md-day24 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89710/dec24.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day24 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day24:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89710/dec24.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day24 {
        height: 300px !important
    }
}

.md-day25 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://storage.pardot.com/80762/89712/dec25.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff;
    border: solid 1px #000
}

.md-day25 h5 {
    color: #d7effa;
    text-transform: uppercase
}

.md-day25:hover {
    background: linear-gradient(to top, transparent, transparent), url("http://storage.pardot.com/80762/89712/dec25.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day25 {
        height: 300px !important
    }
}

.md-day01 {
    background-color: #007FAC;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day01 h5 {
    color: #d7effa
}

.md-day01:hover {
    background-color: #005979;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day01 {
        height: 300px !important
    }
}

.md-day02 {
    background-color: #F17C0E;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day02 h5 {
    color: #d7effa
}

.md-day02:hover {
    background-color: #c1630b;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day02 {
        height: 300px !important
    }
}

.md-day03 {
    background-color: #003082;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day03 h5 {
    color: #d7effa
}

.md-day03:hover {
    background-color: #001d4f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day03 {
        height: 300px !important
    }
}

.md-day04 {
    background-color: #9EA900;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day04 h5 {
    color: #d7effa
}

.md-day04:hover {
    background-color: #6e7600;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day04 {
        height: 300px !important
    }
}

.md-day05 {
    background-color: #8BD2F4;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day05 h5 {
    color: #d7effa
}

.md-day05:hover {
    background-color: #5cc0f0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day05 {
        height: 300px !important
    }
}

.md-day06 {
    background-color: #007FAC;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day06 h5 {
    color: #d7effa
}

.md-day06:hover {
    background-color: #005979;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day06 {
        height: 300px !important
    }
}

.md-day07 {
    background-color: #D23620;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day07 h5 {
    color: #d7effa
}

.md-day07:hover {
    background-color: #a62b19;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day07 {
        height: 300px !important
    }
}

.md-day08 {
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day08 h5 {
    color: #d7effa
}

.md-day08:hover {
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day08 {
        height: 300px !important
    }
}

.md-day09 {
    background-color: #848589;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day09 h5 {
    color: #d7effa
}

.md-day09:hover {
    background-color: #6b6c6f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day09 {
        height: 300px !important
    }
}

.md-day10 {
    background-color: #003082;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day10 h5 {
    color: #d7effa
}

.md-day10:hover {
    background-color: #001d4f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day10 {
        height: 300px !important
    }
}

.md-day11 {
    background-color: #9EA900;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day11 h5 {
    color: #d7effa
}

.md-day11:hover {
    background-color: #6e7600;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day11 {
        height: 300px !important
    }
}

.md-day12 {
    background-color: #8BD2F4;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day12 h5 {
    color: #d7effa
}

.md-day12:hover {
    background-color: #5cc0f0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day12 {
        height: 300px !important
    }
}

.md-day13 {
    background-color: #007FAC;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day13 h5 {
    color: #d7effa
}

.md-day13:hover {
    background-color: #005979;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day13 {
        height: 300px !important
    }
}

.md-day14 {
    background-color: #D23620;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day14 h5 {
    color: #d7effa
}

.md-day14:hover {
    background-color: #a62b19;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day14 {
        height: 300px !important
    }
}

.md-day15 {
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day15 h5 {
    color: #d7effa
}

.md-day15:hover {
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day15 {
        height: 300px !important
    }
}

.md-day16 {
    background-color: #848589;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day16 h5 {
    color: #d7effa
}

.md-day16:hover {
    background-color: #6b6c6f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day16 {
        height: 300px !important
    }
}

.md-day17 {
    background-color: #003082;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day17 h5 {
    color: #d7effa
}

.md-day17:hover {
    background-color: #001d4f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day17 {
        height: 300px !important
    }
}

.md-day18 {
    background-color: #9EA900;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day18 h5 {
    color: #d7effa
}

.md-day18:hover {
    background-color: #6e7600;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day18 {
        height: 300px !important
    }
}

.md-day19 {
    background-color: #8BD2F4;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day19 h5 {
    color: #d7effa
}

.md-day19:hover {
    background-color: #5cc0f0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day19 {
        height: 300px !important
    }
}

.md-day20 {
    background-color: #007FAC;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day20 h5 {
    color: #d7effa
}

.md-day20:hover {
    background-color: #005979;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day20 {
        height: 300px !important
    }
}

.md-day21 {
    background-color: #D23620;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day21 h5 {
    color: #d7effa
}

.md-day21:hover {
    background-color: #a62b19;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day21 {
        height: 300px !important
    }
}

.md-day22 {
    background-color: #8BD2F4;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day22 h5 {
    color: #d7effa
}

.md-day22:hover {
    background-color: #5cc0f0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day22 {
        height: 300px !important
    }
}

.md-day23 {
    background-color: #848589;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day23 h5 {
    color: #d7effa
}

.md-day23:hover {
    background-color: #6b6c6f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day23 {
        height: 300px !important
    }
}

.md-day24 {
    background-color: #003082;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day24 h5 {
    color: #d7effa
}

.md-day24:hover {
    background-color: #001d4f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day24 {
        height: 300px !important
    }
}

.md-day25 {
    background-color: #9EA900;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    background-size: cover;
    color: #fff
}

.md-day25 h5 {
    color: #d7effa
}

.md-day25:hover {
    background-color: #6e7600;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (min-width: 320px) and (max-width: 480px) {
    .md-day25 {
        height: 300px !important
    }
}

.page-header {
    padding: 10px 0 17px 0;
    position: relative;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .page-header {
        padding: -1px 0 13px 0
    }
    .page-header.page-header-with-img {
        padding-right: 50% !important;
        background-repeat: no-repeat;
        background-size: 49%;
        background-position: top right
    }
}

.page-header h1 {
    color: #333
}

.page-header.page-header-butt-up {
    margin-bottom: 0
}

.page-header.page-header-info,
.page-header.page-header-offer,
.page-header.page-header-showcase {
    padding: 10px 15px 17px 15px
}

.page-header.page-header-info:after,
.page-header.page-header-offer:after,
.page-header.page-header-showcase:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
    position: absolute;
    bottom: -4px;
    left: 21px;
    z-index: 1;
    background-image: none
}

@media (min-width: 768px) {
    .page-header.page-header-info,
    .page-header.page-header-offer,
    .page-header.page-header-showcase {
        padding: 20px 30px 23px 30px
    }
}

.page-header.page-header-info {
    background-color: #e2e2e2
}

.page-header.page-header-offer {
    background-color: #e2e2e2
}

.page-header.page-header-offer h1 {
    color: #D23620
}

.page-header.page-header-offer p {
    color: #333
}

.page-header.page-header-showcase {
    background-color: #d7effa
}

.page-header.page-header-showcase h1 {
    color: #333
}

.page-header.page-header-showcase p {
    color: #333
}

@media (min-width: 768px) {
    .container .page-header-full-width {
        width: 500%;
        margin-left: -200%;
        padding: 0
    }
    .container .page-header-full-width:after {
        display: none
    }
    .container .page-header-full-width .page-header-inner {
        width: 20%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 23px;
        padding-top: 20px;
        background-repeat: no-repeat;
        background-size: 49%;
        background-position: top right
    }
    .container .page-header-full-width .page-header-inner:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #ffffff;
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 1;
        background-image: none
    }
    .container .page-header-full-width.page-header-full-width-fixed-inner.page-header-with-img {
        padding-right: 0
    }
    .container .page-header-full-width.page-header-full-width-fixed-inner.page-header-with-img .page-header-inner {
        padding-right: 399px
    }
}

@media (min-width: 992px) {
    .container .page-header-full-width.page-header-full-width-fixed-inner.page-header-with-img .page-header-inner {
        padding-right: 511px
    }
}

@media (min-width: 1200px) {
    .container .page-header-full-width.page-header-full-width-fixed-inner.page-header-with-img .page-header-inner {
        padding-right: 615px
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.embed-responsive-4by3 {
    padding-bottom: 75%
}


.months table td {
	padding-right: 15px;
}

.months table {
	border-collapse: separate;
}


header {
	text-align: center;
}

#calendar {
	width: 100%;	
}

#calendar a {
	color: #333;
	text-decoration: underline;

}
.white {
    background-color: white;
}
#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width:14.342%;
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

#calendar ul.weekdays {
	height: 40px;
	background: #000;
}

#calendar ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar .days li {
	height: 180px;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	color: #333;
	width: 20px;
	border-radius: 50%;
	float: right;
}

#calendar .home-game {
	background: #CE1126;
	color: fff;
}
#calendar .home-game p, h5, h3 {
	color: #fff;
}
#calendar .away-game h3 {
    color: #333;
}
#calendar .home-game:hover {
	background: #b60f22;
}

#calendar .away-game {
	background: #f1f2f2;
	color: #333 !important;
	align-items: middle;
}
#calendar .away-game:hover {
	background: #d7d9d9;
}
#calendar .event {
	clear: both;
	display: block;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #333;
	margin: 0 auto;
	text-decoration: none;	
	align-items: center;
	vertical-align: middle;
	text-align: center;
}
#calendar .logo {
	margin-bottom: 5px;
}

#calendar .other-month {
	background: #333;
}

#calendar .other-month .date {
	color: #fff;
}


/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
	}
}

.bg-red {
	background: #ce1126;
}
 .header h1, .header p  {
	color: #fff !important;
    padding:0 5px;
}
.header h2 {
    color: #fff !important;
    padding-left: 5px;
}

 a:hover {
        color: #CE1126 !important;
    }


    .padding {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        ;
    }

    .mobile {
        display: none;
    }

    @media screen and (max-width: 435px) {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    .mobile table {
        padding-bottom: 15px;
    }
/*# sourceMappingURL=pardot-mkt.css.map */